- if flash.present?
  - @icon, @title, @message = show_message(flash)

  :javascript
    Swal.fire({
      title: "#{@title}",
      text: "#{@message}",
      icon: "#{@icon}",
      confirmButtonText: 'OK!'
    })
