- if flash.present?
  - if flash[:success].present?
    - @icon = 'success'
    - @title = 'Tudo certo!'
    - @message = flash[:success]
  - elsif flash[:error].present?
    - @icon = 'error'
    - @title = 'Erro!'
    - @message = flash[:error]
  - else
    - @icon = 'success'
    - @title = 'Alerta!'
    - @message = flash[:notice]
  
  :javascript
    Swal.fire({
      title: "#{@title}",
      text: "#{@message}",
      icon: "#{@icon}",
      confirmButtonText: 'OK!'
    })
